[Unit]
Description=Dokimion Server #5
Documentation=
After=network-online.target
Wants=network-online.target

[Service]
User=dokimion
Group=dokimion
Environment="SERVER_NO=5"
ExecStart=/home/dokimion/bin/startup_dokimion_server.sh $SERVER_NO
PIDFile=/run/dokimion/dokimion_server_5.pid
# file size
LimitFSIZE=infinity
# cpu time
LimitCPU=infinity
# virtual memory size
LimitAS=4096M
# open files
LimitNOFILE=64000
# processes/threads
LimitNPROC=64000
# locked memory
LimitMEMLOCK=480M
# total threads (user+kernel)
TasksMax=infinity
TasksAccounting=false

[Install]
WantedBy=multi-user.target
