[Unit]
Description=Quack UI #1
Documentation=
After=network-online.target
Wants=network-online.target

[Service]
User=root
Group=root
Environment="UI_NO=1"
ExecStart=/usr/local/bin/startup_quack_ui.sh $UI_NO
PIDFile=/run/quack/quack_ui_1.pid
# file size
LimitFSIZE=infinity
# cpu time
LimitCPU=infinity
# virtual memory size
LimitAS=infinity
# open files
LimitNOFILE=64000
# processes/threads
LimitNPROC=64000
# locked memory
LimitMEMLOCK=infinity
# total threads (user+kernel)
TasksMax=infinity
TasksAccounting=false

[Install]
WantedBy=multi-user.target
